{% load static %}
{% include 'partials/landing_head.html' %}
{% include "partials/landing_nav.html" %}

<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-light">
      <h4 class="mb-0">Send Money via bKash, Rocket or NRBC Bank</h4>
    </div>
    <div class="card-body">
      <div>
        {% for acc in accounts %}
          <h5>{{ acc.acc_type }} Number: <span class="text-primary">{{ acc.number }}</span></h5>
        {% empty %}
          <p>No account numbers available.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include "partials/landing_footer.html" %}
