{% load static %}
{% include 'partials/landing_head.html' %}

{% include "partials/landing_nav.html" %}


    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-light">
                <h4 class="mb-0">Send Money via bKash,Rocker or Nrbc bank</h4>
            </div>
            <div class="card-body">
               
                   <div>
                    <h1>Rocket Number:01806142989</h1>
                    <h1>BKash Number:01718558431</h1>
                    <h1>Nrbc Bank:014031100004549</h1>
                </div>
                
               
             
            </div>
        </div>
    </div>

 

{% include "partials/landing_footer.html" %}

