  <!-- Content Area -->
  <div class="container my-5">
    
    <!-- Quote Section -->
    <section class="py-4" style="background-color: #fdf1e6;">
      <div class="container">
          <div class="row g-4 align-items-center mb-5">
              <div class="col-md-3 text-center">
                  <img src="https://res.cloudinary.com/dee0zdpi9/image/upload/v1745910512/person1_itz1we.jpg" alt="Chairman" class="img-fluid rounded-circle shadow-sm border" style="width: 170px; height: 170px; object-fit: cover;">
                  <h5 class="fw-bold mt-3 mb-1"> Shiekh Zaber Mohammed Zobayer </h5>
                  <small class="text-muted"> Chairman</small>
              </div>
  
              <div class="col-md-9">
                  <div class="p-3 bg-white rounded shadow-sm border">
                      <h4 class="fw-bold text-dark">Chairman's Word</h4>
                      <p class="text-justify text-dark" style="line-height: 1.8;">
                          (And to keep Islam alive Work is underway worldwide to keep religion and Islam alive.)
                          <ul>
                              <li>Creating more Quran memorizations.</li>
                              <li>Making Islamic laws and regulations easy for students of madrasas and educational institutions.</li>
                              <li>Participating in the International Quran Competition.</li>
                          </ul>
                      </p>
                   
                  </div>
              </div>
          </div>
  
          <div class="row g-4 align-items-center">
              <div class="col-md-3 text-center">
                  <img src="https://res.cloudinary.com/dee0zdpi9/image/upload/v1745910512/person2_qz5nud.jpg" alt="Director" class="img-fluid rounded-circle shadow-sm border" style="width: 170px; height: 170px; object-fit: cover;">
                  <h5 class="fw-bold mt-3 mb-1">Md.Raza Ibrahim </h5>
                  <small class="text-muted">Managing Director.</small>
              </div>
  
              <div class="col-md-9">
                  <div class="p-3 bg-white rounded shadow-sm border">
                      <h4 class="fw-bold text-dark">Director's Word</h4>
                      <p class="text-justify text-dark" style="line-height: 1.8;">
                          (We have launched the Easy Education Scholarship to help students of all private madrasas and schools.)
                          <ul>
                              <li>Scholarships will be provided for the 3rd, 6th, 9th, 12th months from play class to class five.</li>
                              <li>Which will be selected from the Doha Welfare Foundation, Qatar.</li>
                          </ul>
                      </p>
                     
                  </div>
              </div>
          </div>
      </div>
  </section>
    

  </div>
  